.form input {
    width: 150px;
    height: 23px;
    background-color: gold;
    border: 1px solid gold;
    border-radius: 3px;
}

.form i {
    color: black;
    position: relative;
    right: 5%;
    padding: 1px 1.5px;
    border: 2px solid black;
    border-radius: 50%;
}

.form i:hover {
    cursor: pointer;
}