.selectMain {
    width: 80vw;
    min-height: 70vh;
    height: auto;
    background-color: black;
    opacity: 80%;
    color: white;
    position: absolute;
    top: 20%;
    left: 5%;
    border: 1px solid black;
    border-radius: 10px;
}