.form input {
    width: 150px;
    height: 23px;
    background-color: gold;
    border: 1px solid gold;
    border-radius: 3px;
    color: black;
    text-align: center;
}

.form i {
    color: gold;
    position: relative;
    left: 2%;
    padding: 1px 1.5px;
    border: 2px solid gold;
    border-radius: 50%;
}

.form i:hover {
    cursor: pointer;
}

.max {
    position: absolute;
    bottom: 0;
    left: 43%;
    color: gold;
}

.friendsList {
    margin-top: 20px;
}

.list {
    margin: 10px 170px;
    width: 150px;
    height: 23px;
    background-color: gold;
    border: 1px solid gold;
    border-radius: 3px;
    color: black;
}