.form input {
    width: 150px;
    height: 23px;
    background-color: gold;
    border: 1px solid gold;
    border-radius: 3px;
    color: black;
}

.form i {
    color: gold;
    position: relative;
    left: 2%;
    padding: 1px 1.5px;
    border: 2px solid gold;
    border-radius: 50%;
}

.form i:hover {
    cursor: pointer;
}